h1 {
    color: #FFE4E1;
    background-color: #FF7F50;
  }
  li {
    background-color: #ffb6c1;
  }
  .important {
    background-color: #B0E0E6;
    color:#FFF8DC;
  }
  #year {
    border-style: dotted solid double dashed;
  }
